<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-sm-12 col-md-8 white-box">
    <h1>Create Client</h1>
    <%= simple_nested_form_for @client,html: {class: "form-material form-horizontal"} ,url: clients_path , method: :post  do |f| %>
      <%= render partial:'clients/shared/form' , locals: {f: f} %>
    <%end%>
  </div>
  <div class="col-md-2">
  </div>
</div>
