<div class="row">
  <div class="col-sm-6">
      <div class="white-box">
          <h3 class="box-title">Order Placed</h3>
          <div>
              <canvas id="chart1" height="150"></canvas>
          </div>
      </div>
  </div>
  <div class="col-sm-6">
      <div class="white-box">
          <h3 class="box-title">Products Ordered</h3>
          <div>
              <canvas id="chart2" height="150"></canvas>
          </div>
      </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    var order_count = <%=@order_count%>;
    var order_date = <%=raw @order_date.to_json%>;
    var product_name = <%=raw @products_name.to_json%>;
    var product_quantity = <%= @products_quantity%>;
    console.log('order_count')
    console.log(order_count)
    console.log('order_date')
    console.log(order_date)
    console.log('product_name')
    console.log(product_name)
    console.log('product_quantity')
    console.log(product_quantity)
    chart("chart1", order_count, order_date, "Line");
    chart("chart2", product_quantity, product_name, "Bar")
  });
</script>
