<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-sm-12 col-md-8">

    <h1> Edit Order </h1>
    <%= render partial: 'orders/shared/form', order: @order %>
  </div>
  <div class="col-md-2">
  </div>
</div>
