<div class="col-sm-12">
  <div class="white-box">
      <h3 class="box-title m-b-0 text-center">COMPANIES</h3>
      <p class="text-muted m-b-30"></p>
      <div class="table-responsive custom_datatable">
        <table id="companies_datatable" class="display nowrap" cellspacing="0" width="100%">
          <thead>
            <tr>
                <th>Name</th>
                <th>Fax</th>
                <th>Edit</th>
                <th> Destroy</th>
            </tr>
          </thead>
          <tbody>
            <% @companies.each do |company| %>
              <tr>
                  <td><%= link_to company.name, company %></td>
                  <td><%= company.fax %></td>
                  <td><%= link_to 'Edit', edit_company_path(company) %></td>
                  <td><%= link_to 'Destroy', company, method: :delete, data: {confirm: 'Are yoy sure'} %>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
  </div>
</div>
<script>
  datatable('companies_datatable', 1, [2,3], 20, [0,1])
</script>
