<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-sm-12 col-md-8 white-box">
    <h1 class="text-center">Create Company</h1>
    <%= simple_nested_form_for @company, html: {class: "form-material form-horizontal"}, url: companies_path , method: :post  do |f| %>
      <%= render partial:'companies/shared/form' , locals: {f: f} %>
    <%end%>
  </div>
  <div class="col-md-2">
  </div>
</div>




