/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 *= require select2

 */
  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "font-awesome-sprockets";
  @import "font-awesome";
  @import "bootstrap.min";
  @import "bootstrap-extension";
  @import "sidebar-nav.min";
  @import "animate";
  @import "spinners";
  @import "style";
  @import "jquery.dataTables.min";
  @import "blue";

.login-register{
   background-color: #000;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7f8588), to(#ffffff));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #7f8588, #ffffff);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #7f8588, #ffffff);

  /* IE 10 */
  background: -ms-linear-gradient(top, #7f8588, #ffffff);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #7f8588, #ffffff);

}
.gradient_overlay{
     background-image: url(/assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% -49%;
    height: 100%;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 93px 0;
}
 label.required:after {
     content: " *";
 }
.login-box{
    background: #fff;
    max-width: 400px;
    margin: 0 auto 0;
    width: 100%;
}
.white-box {
    margin-top: 20px;
}
.mg_top145{
  margin-top: 145px;
}
.logo_img{
  margin-top: -80px;
}
.top-left-part a{
  background: transparent;
}

.custom_datatable .dataTables_length{
  margin-right:10px;
}











/*======Media query==============*/

@media screen and (max-width:1250px) and (min-width:768px){
   .gradient_overlay{
      background-position: center -29px;
    background-size: 63%;
  }
}

@media screen and (max-width:991px) and (min-width:768px){
  .gradient_overlay{
      background-position: center -29px;
    background-size: 63%;
  }
  .login-register{
    position: static;
    display: inline-block;
    width:100%;
  }
}

@media screen and (max-width:767px) and (min-width:320px){
  .gradient_overlay{
      background-position: center -71px;
    background-size: 100%;
  }
  .login-register{
    position: static;
    display: inline-block;
    width:100%;
  }
}


