<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-sm-12 col-md-8 white-box">

    <h1 class="text-center">Editing Product</h1>

    <%= render 'form', product: @product %>
  </div>
  <div class="col-md-2">
  </div>
</div>
<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
