<nav class="navbar navbar-default navbar-static-top m-b-0">
  <div class="navbar-header">
      <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i>
            </a>
      <!-- Logo -->
      <div class="top-left-part">
          <a class="logo", "data-no-turbolink": "true", href: "/">
              <!-- Logo icon image, you can use font-icon also --><b><img src="../plugins/images/eliteadmin-logo.png" alt="home" /></b>
              <!-- Logo text image you can use text also --><span class="hidden-xs"><img src="../plugins/images/eliteadmin-text.png" alt="home" /></span> </a>
      </div>
      <!-- /Logo -->
      <!-- This is for mobile view search and menu icon -->
      <ul class="nav navbar-top-links navbar-left hidden-xs">
          <li>
              <a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light">
                  <i class="icon-arrow-left-circle ti-menu"></i>
              </a>
          </li>
          <li>
              <form role="search" class="app-search hidden-xs">
                  <input type="text" placeholder="Search..." class="form-control"> <a href=""><i class="fa fa-search"></i></a> </form>
          </li>
      </ul>
      <!-- This is the message dropdown -->
      <% if current_user.present?%>
        <ul class="nav navbar-top-links navbar-right pull-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"><b class="hidden-xs">Steave</b> </a>
                <ul class="dropdown-menu dropdown-user animated flipInY">
                    <li><a href="#"><i class="ti-user"></i> My Profile</a>
                    </li>
                    <li><a href="#"><i class="ti-wallet"></i> My Balance</a>
                    </li>
                    <li><a href="#"><i class="ti-email"></i> Inbox</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="ti-settings"></i> Account Setting</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <%=link_to destroy_user_session_path, :method=> :delete do %>
                            <i class="fa fa-power-off">
                                </i> Logout</a>
                            <%end%>
                    </li>
                </ul>
                <!-- /.dropdown-user -->

                <!-- /.dropdown -->
        </ul>
      <%end%>
  </div>
</nav>
