<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse slimscrollsidebar">
    <ul class="nav" id="side-menu">
        <li class="sidebar-search hidden-sm hidden-md hidden-lg">
            <!-- input-group -->
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
        </span> </div>
            <!-- /input-group -->
        </li>
        <li class="user-pro">
            <a href="#" class="waves-effect"><img src="../plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span class="hide-menu"> Steve Gection<span class="fa arrow"></span></span>
            </a>
            <ul class="nav nav-second-level">
                <li><a href="javascript:void(0)"><i class="ti-user"></i> My Profile</a>
                </li>
                <li><a href="javascript:void(0)"><i class="ti-wallet"></i> My Balance</a>
                </li>
                <li><a href="javascript:void(0)"><i class="ti-email"></i> Inbox</a>
                </li>
                <li><a href="javascript:void(0)"><i class="ti-settings"></i> Account Setting</a>
                </li>
                <li><a href="javascript:void(0)"><i class="fa fa-power-off"></i> Logout</a>
                </li>
            </ul>
        </li>
        <li class="nav-small-cap m-t-10">--- Main Menu</li>
        <li> <a href="index.html" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Dashboard <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">4</span></span></a>
            <ul class="nav nav-second-level">
                <li> <a href="index.html">Demographical</a> </li>
                <li> <a href="index2.html">Minimalistic</a> </li>
                <li> <a href="index3.html">Analitical</a> </li>
                <li> <a href="index4.html">Simpler</a> </li>
            </ul>
        </li>
        <li><a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Apps <span class="fa arrow"></span></span></a>
            <ul class="nav nav-second-level">
                <li><a href="chat.html">Chat-message</a>
                </li>
                <li><a href="javascript:void(0)" class="waves-effect">Inbox<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li> <a href="inbox.html">Mail box</a>
                        </li>
                        <li> <a href="inbox-detail.html">Inbox detail</a>
                        </li>
                        <li> <a href="compose.html">Compose mail</a>
                        </li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)" class="waves-effect">Contacts<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li> <a href="contact.html">Contact1</a>
                        </li>
                        <li> <a href="contact2.html">Contact2</a>
                        </li>
                        <li> <a href="contact-detail.html">Contact Detail</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

    </ul>
  </div>
</div>
